@charset "utf-8";
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
ol,ul{ list-style: none;}


/* 투명 버튼 class 설정 */
.btn{
  width: 280px;
  height: 80px;
  padding: 1rem 1.5rem;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 50px;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 15%);

  &:hover{
  background-color: rgba(255, 255, 255, 30%);
  }
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
/* app */
#app{
  width: 360px;
  height: 640px;
  box-shadow: 0 2px 10px 1px #555;
  border-radius: 1rem;
  overflow: hidden;
}

#start{
  width: 100%;
  height: 100%;
  background-image: url(../public/img/quiz_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  p.title{
    text-align: center;
    padding: 7.5rem 0;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }

  .goCategory {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    line-height: 2.8rem;
  }
}

#categories{  
  ul{
    li{
      cursor: pointer;
      margin: 0.5rem 0;
    }
  }
}

@media all and (max-width:360px) {
  #app{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}